:root{
    --moderna-yellow:#ECAA20;
    --moderna-red:#d22630;
    --moderna-gray:#d9d9d9;
}
.container{
    padding: 10px 0px;
    margin: 1px;
    display: flex;
    min-width: 10rem;
}
.dropdown{
    padding: 10px;
    text-decoration: none;
    text-transform: uppercase;
    color: black;
    font-weight: 500;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.gray{
    background-color: var(--moderna-gray);
    color: black;
}
.primary{
    background-color: var(--moderna-red);
    color: white;
}
.dropdown:hover{
    filter: brightness(0.8);
    color: black;
}